 .homebanner .wpb_wrapper .vc_custom_heading.headtittle {
    color: #EF7627;
    font-size: 50px;
}
.homebanner .wpb_wrapper .vc_custom_heading {
    font-size: 20px;
    color: #fff;
} 
 /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  } 
  
  .wf-container-footer img {
  	width: 220px
  } 